<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Repository info</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A300%2C400%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C600"/>
  <link rel="stylesheet" type="text/css" href="/static/repo-info.css"/>
</head>
<body>
<div class="repo-info-GcA">
  <p class="your-logo-z2N">GITSIGHT PRO</p>
  <form action="/success" method="post">
    <div class="group-61-gft">
        <p class="instructions">Please make sure to respect the capitalization of the data</p>
        <p class="repository-owner-c3k">Repository Owner</p>
        <div class="auto-group-yxea-wLv">
            <input type="text" id="owner" name="owner" placeholder="Owner">
        </div>
        <p class="repository-name-n6e">Repository Name</p>
        <div class="auto-group-qbzi-7uc">
            <input type="text" id="name" name="name" placeholder="Name">
        </div>
        <button type="submit" class="auto-group-umdc-bZt">Next</button>
    </div>
</form>

</div>
</body>